  #about{
  display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-left: 3%;
   border-radius: 5vh;
     height: 15vh;
     width: 97%;
     border: 2px rgb(200, 209, 200) solid;
  }
  #about h3{
     color: #000;
    font-family: Playfair;
    padding-left: 5vh;
    padding-right: 5vh;
  }
@media screen and (max-width: 479px) {
  #about{

     height: clamp(10vw,35vw,40vw);

  }
  #about h3{
   font-size: clamp(1vw,2.8vw,3vw);
    padding-left: clamp(2vw,4vw,5vw);
    padding-right: clamp(2vw,4vw,5vw);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #about{

     height: clamp(10vw,28vw,40vw);

  }
  #about h3{
   font-size: clamp(1vw,2vw,3vw);
    padding-left: clamp(2vw,4vw,5vw);
    padding-right: clamp(2vw,4vw,5vw);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #about{

     height: clamp(10vw,2vw,40vw);

  }
  #about h3{
   font-size: clamp(1vw,1.6vw,3vw);
    padding-left: clamp(2vw,4vw,5vw);
    padding-right: clamp(2vw,4vw,5vw);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  #about{

     height: clamp(10vw,2vw,40vw);

  }
  #about h3{
   font-size: clamp(1vw,1.6vw,3vw);
    padding-left: clamp(2vw,4vw,5vw);
    padding-right: clamp(2vw,4vw,5vw);
  }
}
@media screen and (min-width: 1440px) {
  
}
