* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "GreatVibes";
  src: url("/fonts/GreatVibes-Regular.ttf") format("truetype");
}
.heading {
  margin-top: 2%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  font-size: 10vh;
  font-family: "GreatVibes";
  color: black;
}
.filter-section {
  position: sticky;
  top: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  background-color: white;
  border-bottom: 1px solid grey;
  height: 60px;
  z-index: 6;
}
.product-grid {
  overflow: hidden;
  padding: 2vh 1vh;

  width: 100%;
  height: auto;

  display: grid;
  column-gap: 10px;
  row-gap: 30px;

  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .heading {
 
    margin-top: 2%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading h1 {
    font-size: 3.5vh;
    font-family: "GreatVibes";
    color: black;
  }
  .filter-section {
 
    position: sticky;
    top: 4vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    height: 40px;
  }
  .product-grid {
     
    overflow: hidden;
    padding: 1vh 1vh;

    width: 100%;
    height: auto;

    display: grid;
    column-gap:3px;
    row-gap: 3px;

    grid-template-columns: repeat(2, 1fr);
  }
}
