* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "GreatVibes";
  src: url("./../../public/fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Playfair;
  src: url(./../../public/fonts/Playfair-VariableFont_opszwdthwght.ttf)
    format("truetype");
}
@font-face {
  font-family: Merriweather;
  src: url(./../../public/fonts/Merriweather-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: cripson;
  src: url(./../../public/fonts/CrimsonPro-Italic-VariableFont_wght.ttf);
}
.product-card {
  height: 40vw;
  width: 100%;
}
.product-card a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.image {
  position: relative;

  height: 87%;
  width: 100%;
  overflow: hidden;
}
.image img {
  height: 100%;
  width: 100%;
}
.img1 {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: fill;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.img2 {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: fill;
  z-index: -2;
}
.image:hover .img1 {
  opacity: 0;
}

.image:hover .img2 {
  transition: all 0.4s ease;
}

.image:hover .img2 {
  transform: scale(1);
}
.name {
  color: #362e2e;
  font-family: Playfair;
  display: flex;
  align-items: flex-end;
  font-size: clamp(15px, 25px, 35px);
  height: 6%;
  margin-left: 2vh;
  font-weight: 100;
}
.price {
  display: flex;
  align-items: flex-start;

  height: 7%;
}

.price h2 {
  font-family: cripson;
  font-weight: 500;
  color: #362e2e;
  margin-left: 2vh;
  font-size: clamp(15px, 25px, 35px);
}

.price h3 {
  margin-top: 4px;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 2vh;
  font-family: cripson;
  color: black;

  font-size: clamp(15px, 20px, 35px);
}
.price h4 {
  font-weight: 500;
  margin-top: 6px;
  margin-left: 2vh;
  font-family: cripson;
  color: rgb(30, 16, 219);

  font-size: clamp(15px, 16px, 35px);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .product-card {
    height: 85vw;
    width: 100%;
  }

  .name {
    margin-left: 1vh;
    font-size: clamp(2vw, 2.8vw, 3.5vw);
  }
  .price {
    display: flex;
    align-items: center;

    height: 7%;
  }

  .price h2 {
    font-family: cripson;
    font-weight: 500;
    color: #362e2e;
    margin-left: 1vh;
       font-size: clamp(2vw, 2.8vw, 3.5vw);
  }

  .price h3 {
    margin-top: 0px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 1vh;
    font-family: cripson;
    color: black;
    font-size: clamp(5px, 10px, 15px);
  }
  .price h4 {
    font-weight: 500;
    margin-top: 0px;
    margin-left: 1vh;
    font-family: cripson;
    color: rgb(30, 16, 219);
   font-size: clamp(1.5vw, 2vw, 3.5vw);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .product-card {
    height: 85vw;
    width: 100%;
  }

  .name {
    margin-left: 1vh;
    font-size: clamp(1vw, 2.8vw, 4vw);
  }
  .price {
    display: flex;
    align-items: center;

    height: 7%;
  }

  .price h2 {
    font-family: cripson;
    font-weight: 500;
    color: #362e2e;
    margin-left: 1vh;
 font-size: clamp(1vw, 2.8vw, 4vw);
  }

  .price h3 {
    margin-top: 0px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 1vh;
    font-family: cripson;
    color: black;
    font-size: clamp(1vw, 2.8vw, 4vw);
  }
  .price h4 {
    font-weight: 500;
    margin-top: 0px;
    margin-left: 1vh;
    font-family: cripson;
    color: rgb(30, 16, 219);
  font-size: clamp(1vw, 1.8vw, 4vw);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .product-card {
    height: 50vw;
    width: 100%;
  }

  .name { 
    margin-left: 1vh;
  font-size: clamp(1.5vw, 2vw, 3.5vw);
  }
  .price {
    display: flex;
    align-items: center;
   
    height: 7%;
  }

  .price h2 {    
    font-family: cripson;
    font-weight: 500;
    color: #362e2e;
    margin-left: 1vh;
  font-size: clamp(1.5vw, 1.8vw, 3.5vw);
  }

  .price h3 {
    margin-top: 0px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 1vh;
    font-family: cripson;
    color: black;
    font-size: clamp(5px, 10px, 15px);
  }
  .price h4 {

    font-weight: 500;
    margin-top: 0px;
    margin-left: 1vh;
    font-family: cripson;
    color: rgb(30, 16, 219);
  font-size: clamp(1.2vw, 1.6vw, 2.5vw);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
.product-card {
  height: 50vw;
  width: 100%;
}
.product-card a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.image {
  position: relative;

  height: 87%;
  width: 100%;
  overflow: hidden;
}
.image img {
  height: 100%;
  width: 100%;
}
.img1 {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: fill;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.img2 {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: fill;
  z-index: -2;
}
.image:hover .img1 {
  opacity: 0;
}

.image:hover .img2 {
  transition: all 0.4s ease;
}

.image:hover .img2 {
  transform: scale(1);
}
.name {
  color: #362e2e;
  font-family: Playfair;
  display: flex;
  align-items: flex-end;
  font-size: clamp(1.3vw, 1.6vw, 2.1vw);
  height: 6%;
  margin-left: 2vh;
  font-weight: 100;
}
.price {
  display: flex;
  align-items: flex-start;

  height: 7%;
}

.price h2 {
  font-family: cripson;
  font-weight: 500;
  color: #362e2e;
  margin-left: 2vh;
  font-size: clamp(1.3vw, 1.6vw, 2.1vw);
}

.price h3 {
  margin-top: 4px;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 2vh;
  font-family: cripson;
  color: black;

  font-size: clamp(15px, 20px, 35px);
}
.price h4 {
  font-weight: 500;
  margin-top: 6px;
  margin-left: 2vh;
  font-family: cripson;
  color: rgb(30, 16, 219);

  font-size: clamp(1vw, 1.2vw, 1.5vw);
}
}
