.setting{

height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content:  center;
color: aliceblue;
}
.setting a{
    height: 100%;
    width: 100%;
    display: flex;
align-items: center;
justify-content:  center;
color: azure;
text-decoration: none;
}
.setting:hover{
   background-color: black;
   color: azure;
}
