#block7 {

  margin-top: 5vh;
  height: clamp(30vw,40vw,90vw);
  width: 100%;
}

#block7-up {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#block7-up h3 {
  color: #000;
  font-size: clamp(5vh,6vh,9vh);
  font-weight: 100;
}

#block7-mid {
  margin-top: 6vh;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

#block7-mid-product {
  height: 100%;
  width: 22%;
  margin-left: 0vh;
  overflow: hidden;
}

#block7-mid-product a {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}

#block7-mid-product-img {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#block7-mid-product-img img {
  height: 100%;
  width: 100%;
}

#block7-mid-product-img img:hover {
  height: 97%;
  width: 98%;
  transition: all 0.7s ease;
}

#block7-mid-product-name {
  height: 10%;
  width: 100%;
  font-family: Playfair;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 2.5vh;
  font-weight: 600;
}
@media screen and (max-width: 479px) {
  #block7 {
    height:clamp(80vw,150vw,150vw);
  }
  #block7-up h3 {
    font-size: clamp(2vw, 5vw, 8vw);
  }

  #block7-mid {

    margin-top: 6vw;
    height: 80%;
    width: 100%;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  #block7-mid-product {
    height: 100%;
    width: 100%;
    margin-left: 0vh;overflow: hidden;
  }
  #block7-mid-product-img {
    height: 90%;
    width: 100%;
  }

  #block7-mid-product-name {
    font-size: clamp(2vw, 4vw, 8vw);
    font-weight: 600;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #block7 {
 height:clamp(80vw,120vw,150vw);
  }
  #block7-up h3 {
    font-size: clamp(2vw, 5vw, 8vw);
  }

  #block7-mid {
    margin-top: 6vw;
    height: 80%;
    width: 100%;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  #block7-mid-product {
    height: 100%;
    width: 100%;
    margin-left: 0vh;
  }
  #block7-mid-product-img {
    height: 90%;
    width: 100%;
  }

  #block7-mid-product-name {
    font-size: clamp(2vw, 4vw, 8vw);
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #block7 {

    height:clamp(70vw,120vw,120vw);
  }
  #block7-up h3 {
    font-size: clamp(2vw, 5vw, 8vw);
  }

  #block7-mid {
    margin-top: 6vw;
    height: 80%;
    width: 100%;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  #block7-mid-product {
    height: 100%;
    width: 100%;
    margin-left: 0vh;
  }
  #block7-mid-product-img {
    height: 90%;
    width: 100%;
  }

  #block7-mid-product-name {
    font-size: clamp(2vw, 3vw, 8vw);
    font-weight: 600;
  }
}

